<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ps-2 fs-4" href="/">Krishi Dibanishi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto px-2">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if session.get('logged_in') and not session.get('is_admin')%}
                <li class="nav-item">
                    <a class="nav-link" href="/crop_suggestion">Crop Suggestion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather_prediction">Weather Prediction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/market_prices">Market Prices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/soil_health">Soil Health</a>
                </li>
            {% endif %}
            {% if session.get('logged_in') and session.get('is_admin')%}
              <li class="nav-item">
                  <a class="nav-link" href="/admin/price_management">Price Management</a>
              </li>
            {% endif %}
            {% if not session.get('is_admin')%}
            <li class="nav-item">
                <a class="nav-link" href="/about_us">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact</a>
            </li>
            {% endif %}
            {% if session.get('logged_in') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ session.get('username') }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
                        <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script defer>
$(document).ready(function () {
    var currentUrl = window.location.pathname;
    $('.navbar-nav .nav-link').each(function () {
        if ($(this).attr('href') === currentUrl) {
            $(this).addClass('active');
        } else {
            $(this).removeClass('active');
        }
    });
});
</script>

