{% extends "layouts/base.html" %}

{% block title %}
About us - Krishi Dibanishi
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>আমাদের সম্পর্কে</h2>
    <p>
        কৃষি দিবানিশিতে স্বাগতম, একটি প্ল্যাটফর্ম যা কৃষকদের সচেতন সিদ্ধান্ত নিতে সাহায্য করার জন্য ডিজাইন করা হয়েছে। আমাদের লক্ষ্য হল ফসলের পরামর্শ, আবহাওয়ার পূর্বাভাস এবং চাষের উৎপাদনশীলতা এবং লাভজনকতা উন্নত করতে বাজার মূল্যের মতো দরকারী টুল সরবরাহ করা।
    </p>
    <h4>আমাদের স্বপ্ন</h4>
    <p>
        আমরা এমন একটি পৃথিবীর স্বপ্ন দেখি যেখানে কৃষকরা সহজেই ডেটা-ভিত্তিক তথ্যের মাধ্যমে সঠিক সিদ্ধান্ত নিতে পারে এবং টেকসই কৃষি নিশ্চিত করতে পারে।
    </p>
    <h4>আমাদের দল</h4>
    <p>
        আমরা চট্টগ্রাম প্রকৌশল ও প্রযুক্তি বিশ্ববিদ্যালয়ের (CUET) কম্পিউটার বিজ্ঞান ও প্রকৌশল (CSE) বিভাগের স্নাতক পর্যায়ের শিক্ষার্থীদের একটি দল। আমাদের লক্ষ্য হলো আমাদের দক্ষতা ব্যবহার করে এমন প্রযুক্তি তৈরি করা যা কৃষকদের ক্ষমতায়িত করবে এবং কৃষি খাতকে রূপান্তরিত করবে।
    </p>
</div>
{% endblock %}
